# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Environment variables
.env