body {
  margin: 0;
  font-family: Arial;
  background: #0f0c29;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1a1333;
}

/* Layout */
.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #140f2d;
  height: 100vh;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #2a1f55;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
}

/* Sections */
.section {
  display: block;
}

.hidden {
  display: none;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  max-height: 150px;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff7a7a, #8f5cff);
  width: 150px;
  text-align: center;
  font-size: 20px;
}

/* Form */
#create {
  background: rgba(80, 21, 105, 0.797);
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  max-width: 450px;
  margin: 20px auto;
}
#form-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  background: linear-gradient(135deg, #ff7a7a, #8f5cff);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

/* Event Cards */
.event-card {
  background: rgba(73, 28, 75, 0.732);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}
.toast {
  position: fixed;
  bottom: 28px;
  right: 28px;
  padding: 14px 20px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(80px);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 99999;
}
